body {
    background-color: #0a0a0a;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.marquee {
    font-family: 'Bungee', cursive;
    font-size: 3rem;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
    margin: 20px 0;
    text-align: center;
    animation: blink 1.5s infinite;
}
p {
    font-family: 'Bungee', cursive;
    font-size: 1.5rem;
    color: #e4e3e2;
    text-shadow: 0 0 10px #ddd5b3, 0 0 20px #ff9900;
    margin: 20px 0;
    text-align: center;
    animation: blink 1.5s infinite;
}
h2 {
    font-family: 'Bungee', cursive;
    font-size: 2rem;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
    margin: 20px 0;
    text-align: center;
    animation: blink 1.5s infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.7; }
}
.theater-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #1a1a1a 0%, #000 100%);
    padding: 50px;
    border-radius: 10px;
    box-shadow: inset 0 0 100px #000;
}
.screen-container {
    border: 15px solid #222;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.1), 0 0 20px rgba(0, 150, 255, 0.4);
    background: #000;
    line-height: 0;
}
video {
    width: 800px;
    max-width: 90vw;
    height: auto;
}
.controls {
    margin-top: 30px;
}

button {
    background: #e50914;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transform: transform 0.2s background 0.3s;
}
button:hover {
    background: #ff0f1b;
    transform: scale(1.1);
}
.rate-btn {
    background: #444;
}
.para {
    font-family: 'Bungee', cursive;
    font-size: 1.7rem;
    color: #ffcc00;
    text-shadow: 0 0 10px #ffcc00, 0 0 20px #ff9900;
    margin: 20px 0;
    text-align: center;
    animation: blink 1.5s infinite;
}
footer {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    text-align: center;
    background: radial-gradient(circle, rgba(255,204,0,0.1) 0%, transparent 70%);
}
